@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

label, input, textarea {
  display: block; }

main {
  padding-bottom: 4em; }

.main-header {
  width: 100%;
  height: 100px;
  background: #514077;
  color: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 100; }

.navegacion {
  width: 100%;
  height: 100px; }
  .navegacion .logo {
    height: 100%;
    width: 100%;
    padding: .2em 0; }

.icono-menu {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 40px;
  right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .icono-menu {
      top: 40px;
      right: 100px; } }
  @media screen and (min-width: 1025px) {
    .icono-menu {
      top: 40px;
      right: 100px; } }

.main-nav {
  background: #FFAD01;
  position: fixed;
  top: 0;
  right: -15em;
  width: 15em;
  padding: 1em;
  height: 100vh;
  z-index: 200;
  transition: all .3s; }
  .main-nav.mostrar {
    right: 0; }

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-menu__item {
    border-bottom: 1px solid rgba(81, 64, 119, 0.2);
    text-transform: uppercase; }
  .main-menu__link {
    line-height: 2.7;
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: 300; }

body {
  position: relative;
  right: 0;
  transition: all .3s; }
  body.mostrar {
    right: 15em; }

.banner {
  width: 100%;
  height: 400px;
  background: linear-gradient(#514077, #FFAD01);
  margin-top: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative; }
  .banner-slogan {
    text-align: center;
    position: relative; }
  .banner-title {
    color: #fff; }
    @media screen and (min-width: 1025px) {
      .banner-title {
        font-size: 1.7em; } }
  .banner-copy {
    font-size: 1em;
    color: #fff; }
    @media screen and (min-width: 1025px) {
      .banner-copy {
        font-size: 1.1em; } }
  .banner-button {
    font-size: .9em; }
    @media screen and (min-width: 1025px) {
      .banner-button {
        font-size: 1em; } }
  .banner:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../image/paris.jpg) center/cover;
    position: absolute;
    top: 0;
    opacity: 0.6; }

.button {
  display: inline-block;
  line-height: 2.5;
  padding: 0 1.2em;
  margin: 1.5em 0 0;
  color: #fff; }
  .button.primary {
    background: #514077; }
    .button.primary:hover {
      background: #463766; }
  .button.secondary {
    background: #924992; }
    .button.secondary:hover {
      background: #814181; }
  .button.third {
    background: #FFAD01;
    color: #924992; }
    .button.third:hover {
      background: #eca000; }

.main-section {
  width: 100%;
  height: 300px;
  text-align: center; }
  .main-section__title {
    color: #514077;
    padding: 1em 0; }
  .main-section__copy {
    text-align: center; }

/**
 * ESTILOS DE PRUEBA
 */
.subtitle {
  border-bottom: 1px solid rgba(17, 17, 17, 0.2); }

.l-container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.top {
  width: 100%;
  height: auto;
  padding-top: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media screen and (min-width: 768px) {
    .top {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .top .total {
    width: 100%;
    margin-top: 2em;
    border-top: 2px solid #FFAD01; }
  .top-title {
    display: table;
    background: #FFAD01;
    color: #514077;
    padding: .3em .2em;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 1em; }
  .top-site {
    width: 100%;
    margin-top: 1em;
    height: auto;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .top-site {
        width: calc(40% - .5em);
        margin: 0 0 1em; } }
    @media screen and (min-width: 1025px) {
      .top-site {
        width: calc(25% - .5em);
        margin: 0 0 1em; } }
    .top-site__img {
      display: block;
      padding: 3px;
      border: 1px solid #FFAD01;
      cursor: pointer;
      width: 100%;
      position: relative; }
    .top-site__title {
      margin-top: 1em;
      color: #514077; }
    .top-site__copy {
      color: #FFAD01; }
    .top-site__link {
      display: inline-block;
      margin: 0 auto; }

@media screen and (min-width: 1025px) {
  .contact {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .contact-data, .contact-form-container {
      width: 49%; } }

.contact-data .contact-address,
.contact-data .contact-phone {
  opacity: .8;
  color: #924992;
  font-size: .85em; }
  .contact-data .contact-address:before,
  .contact-data .contact-phone:before {
    margin-right: .3em;
    position: relative;
    top: 2px; }

.contact-form-container input, .contact-form-container textarea {
  width: 100%;
  line-height: 1.7;
  border: 1px solid rgba(17, 17, 17, 0.25);
  margin-bottom: .8em; }

.contact-form-container label {
  font-size: .8em;
  opacity: .7; }

.contact-form-container [type="submit"] {
  text-transform: uppercase;
  line-height: 2.5;
  width: auto;
  cursor: pointer; }

.contact {
  width: 100%;
  margin: 2em 0;
  padding-top: 100px; }

.contact-subtitle {
  display: table;
  background: #924992;
  color: #fff;
  padding: .3em .2em;
  text-transform: uppercase;
  margin: 2px 0 2em; }

.contact-data, .contact-form-container {
  border-top: 2px solid #924992;
  margin: 2em 0; }

.main-footer {
  background-color: #111;
  color: #fff;
  padding: 10em 0;
  background-attachment: fixed;
  width: 100%;
  text-align: center; }

body {
  background-attachment: fixed; }

.sociales {
  width: 240px;
  margin: 1em auto 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

[class^=social-] {
  display: block;
  width: 40px;
  height: 40px;
  background: #924992;
  color: white;
  transition: .3s all; }
  [class^=social-]:hover {
    background: rgba(146, 73, 146, 0.5); }
