@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 300; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

label, input, textarea {
  display: block; }

main {
  padding-bottom: 4em; }

.main-nav {
  background: #FFAD01;
  position: fixed;
  top: 0;
  left: -15em;
  width: 15em;
  padding: 1em;
  height: 100vh;
  z-index: 200;
  transition: all .3s; }
  .main-nav.mostrar {
    right: 0; }

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-menu__item {
    border-bottom: 1px solid rgba(81, 64, 119, 0.2); }
  .main-menu__link {
    line-height: 2.7;
    display: block;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 300; }

body {
  position: relative;
  right: 0;
  transition: all .3s; }
  body.mostrar {
    right: 15em; }

.banner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: auto; }

.subtitle {
  border-bottom: 1px solid rgba(17, 17, 17, 0.2); }

.l-container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
