.main-header{
    width: 100%;
    height: 100px;
    background: $color1;
    color:$white;

    position: relative;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    z-index: 100;
}
.navegacion{
    //background: red;
    width: 100%;
    height: 100px;

    .logo{
        //background: blue;
        height: 100%;
        width: 100%;
        padding: .2em 0;

        &-title{

        }
        &-copy{

        }
    }
}

.icono-menu{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include desde($medium){
        top: 40px;
        right: 100px;
    }
    @include desde($large){
        top: 40px;
        right: 100px;
    }
}
